@page "/cart"
@using DishesStore.Additional
@using DishesStore.Data
@using DishesStore.Db.Model

@inject IToastService toastServiceCart

<PageTitle>Cart</PageTitle>

<div class="stretched">
    <div class="cart-container">
        <div class="cart-holder">
            <div class="cart-left-part">
                <div class="content-holder">
                    <div>
                        <h4 class="cart-title">Cart</h4><hr />
                    </div>
                    <div>
                        @if (@Cart.Dishes.Count == 0)
                        {
                            <div class="cart-warn-title">
                                <div>There's <span style="color: #e4002b">nothing</span> yet. Add your first dish before you can order it!</div>
                                <div>Also you can acquire a lot of juicy' dakimakuras <a href="https://dakimashop.pp.ua/">here</a> 👈</div>
                            </div>
                        }
                        else
                        {

                            @foreach (var item in @Cart.Dishes)
                            {
                                <div class="cart-item">
                                    <div style="width: 20%">
                                        <img class="cart-item-image" src="https://mercatopizzakurier.ch/wp-content/uploads/2019/10/1459955-free-png-pepperoni-pizza-png-images-transparent-free-png-images-pizza-850_834.png">
                                    </div>
                                    <div class="cart-item-additional-info">
                                        <div>
                                            <div class="cart-info-part">
                                                <div style="display: flex;">
                                                    <span class="cart-item-title">@item.dish.Name @if (item.dish.Category.Name == "Vegan") { <span style="color: #68c25a;">🌱</span>}</span>
                                                    <span class="cart-item-title" style="margin: 0 10px; color: #828a9a; font-family: 'Circe-EB'">·</span>
                                                    <span class="cart-item-title" style="color: #828a9a; font-weight: 100; font-size: 16px; padding-top: 3px; font-family: 'Circe-R'">@item.dish.Category.Name.ToLower()</span>
                                                </div>
                                                <div>
                                                    <span class="cart-item-total-price">$@(item.dish.Price * item.count)</span>

                                                </div>
                                            </div>
                                            <div class="cart-item-price">
                                                $@item.dish.Price apiece
                                                <span class="cart-item-price-count-division">x</span>
                                                <span class="cart-item-price-count">@item.count</span>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="cart-info-part">
                                                <div class="cart-item-description">
                                                    @item.dish.Description
                                                </div>
                                                <div>
                                                    <button class="cart-remove-button" @onclick="@((args)=>OnRemove(@item))">Remove</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr />
                            }
                        }
                    </div>
                </div>
            </div>

            <div class="cart-right-part">
                <div>
                    <div class="content-holder">
                        <div>
                            <h4 class="delivery-title">Delivery</h4>
                            <div style="display: flex; justify-content: space-between;">
                                <div class="switch-field">
                                    <input type="radio" id="radio-one" name="switch-one" value="Pickup" checked @onclick="@((args)=>PickDelivery("PickUp"))" />
                                    <label for="radio-one">PickUp</label>
                                    <input type="radio" id="radio-two" name="switch-one" value="Delivery: $9.99" @onclick="@((args)=>PickDelivery("Delivery"))" />
                                    <label for="radio-two">Delivery: $9.99</label>
                                </div>
                            </div>
                            @if (Cart.Dishes.Count > 0)
                            {
                                <div style="height: 100%; display: flex; flex-direction: column; justify-content: space-between;">
                                    <div>
                                        @if (IsDeliveryChoosed)
                                        {
                                            <span class="delivery-description">We'll deliver it in shortest terms!</span>
                                        }
                                        else
                                        {
                                            <span class="delivery-description">Take your order at the nearest pickup point!</span>
                                        }
                                        <hr class="delivery-division" />

                                        <div class="delivery-additional">
                                            <div class="dish-cart-preview dish-cart-preview-title">
                                                <div>Item</div>
                                                <div>Price</div>
                                            </div>
                                            @foreach (var item in Cart.Dishes)
                                            {
                                                <div class="dish-cart-preview">
                                                    <div>
                                                        @item.dish.Name
                                                        @if (@item.count > 1)
                                                        {
                                                            <span style="font-family:'Circe-EB'; margin: 0 4px;">·</span>
                                                            <span>(</span>

                                                            @item.count

                                                            <span> copies)</span>
                                                        }
                                                    </div>
                                                    <div class="dish-cart-preview-price">$@(Math.Round(item.dish.Price * item.count,2))</div>
                                                </div>
                                            }

                                            @if (IsDeliveryChoosed)
                                            {
                                                <div class="dish-cart-preview">
                                                    <div>Delivery</div>
                                                    <div class="dish-cart-preview-price">$9.99</div>
                                                </div>
                                            }
                                        </div>
                                        <hr class="delivery-division" />
                                        <div class="dish-cart-preview dish-cart-preview-title">
                                            <div>Total</div>
                                            <div class="dish-cart-preview-price dish-cart-preview-price-total">$@(Math.Round(@Cart.GetPrice() + (@IsDeliveryChoosed ? 9.99 : 0), 2))</div>
                                        </div>
                                    </div>
                                    <div style="justify-content:space-between; display: flex; flex-direction: column; column-gap: 10px">
                                        <div style="margin-bottom: 12px;">
                                            <NavLink href="/">
                                                <button class="proceed-button">Proceed to checkout</button>
                                            </NavLink>
                                        </div>

                                        <div>
                                            <NavLink href="/">
                                                <button class="proceed-button proceed-button-to-index">Continue shopping</button>
                                            </NavLink>
                                        </div>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <span class="delivery-description">Add your dishes to buy firstly.</span>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code
{
    private bool IsDeliveryChoosed { get; set; } = false;
    
    private ToastParameters _toastParameters;

    int Id = 0;
    private void OnRemove(DishToOrder dish)
    {
        Cart.RemoveItem(dish);
        
        _toastParameters = new ToastParameters();
        _toastParameters.Add(nameof(Toast.Title), "Item has removed from your Cart");
        _toastParameters.Add(nameof(Toast.PizzaName), dish.dish.Name);
        _toastParameters.Add(nameof(Toast.PizzaCount), dish.count);
        _toastParameters.Add(nameof(Toast.Description), "Removed from your cart");
        toastServiceCart.ShowToast<Toast>(_toastParameters, new ToastInstanceSettings(5, false));
    }

    private void PickDelivery(string Way)
    {
        IsDeliveryChoosed = Way == "Delivery";
    }

    private void ClickCheck()
    {
        //IsDeliveryChoosed = !IsDeliveryChoosed;
    }
}
