@page "/cart"
@using DishesStore.Data
@using DishesStore.Db.Model

<PageTitle>Cart</PageTitle>

<div class="stretched">
    <div class="cart-container">
        <div class="cart-holder">
            <div class="cart-left-part">
                <div class="content-holder">
                    <div>
                        <h4 class="cart-title">Cart</h4><hr />
                    </div>
                    <div>
                        @if (@Cart.Dishes.Count == 0)
                        {
                            <div class="cart-warn-title">
                                There's <span style="color: #e4002b">nothing</span> yet. Add your first dish before you can order it!
                            </div>
                        }
                        else
                        {

                            @foreach (var item in @Cart.Dishes)
                            {
                                <div class="cart-item">
                                    <div style="width: 20%">
                                        <img class="cart-item-image" src="https://mercatopizzakurier.ch/wp-content/uploads/2019/10/1459955-free-png-pepperoni-pizza-png-images-transparent-free-png-images-pizza-850_834.png">
                                    </div>
                                    <div class="cart-item-additional-info">
                                        <div>
                                            <div class="cart-info-part">
                                                <div>
                                                    <span class="cart-item-title">@item.Name</span>
                                                </div>
                                                <div>
                                                    <span class="cart-item-total-price">$@item.Price</span>
                                                </div>
                                            </div>
                                            <div class="cart-item-price">
                                                $@item.Price apiece
                                            </div>
                                        </div>
                                        <div>
                                            <div class="cart-info-part">
                                                <div class="cart-item-description">
                                                    @item.Description
                                                </div>
                                                <div>
                                                    <button class="cart-remove-button" @onclick="@((args)=>OnRemove(@item))">Remove</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr />
                            }
                        }
                    </div>
                </div>
            </div>

            <div class="cart-right-part">
                <div>
                    <div class="content-holder">
                        <div>
                            <h4 class="delivery-title">Delivery</h4>
                            <div style="display: flex; justify-content: space-between;">
                                <div class="switch-field">
                                    <input type="radio" id="radio-one" name="switch-one" value="Pickup" checked @onclick="@((args)=>PickDelivery("PickUp"))" />
                                    <label for="radio-one">PickUp</label>
                                    <input type="radio" id="radio-two" name="switch-one" value="Delivery: $9.99" @onclick="@((args)=>PickDelivery("Delivery"))" />
                                    <label for="radio-two">Delivery: $9.99</label>
                                </div>
                            </div>
                            @if (Cart.Dishes.Count > 0)
                            {
                                <div style="height: 100%; display: flex; flex-direction: column; justify-content: space-between;">
                                    <div>
                                        @if (IsDeliveryChoosed)
                                        {
                                            <span class="delivery-description">We'll deliver it in shortest terms!</span>
                                        }
                                        else
                                        {
                                            <span class="delivery-description">Take your order at the nearest pickup point!</span>
                                        }
                                        <hr class="delivery-division" />

                                        <div class="delivery-additional">
                                            <div class="dish-cart-preview dish-cart-preview-title">
                                                <div>Item</div>
                                                <div>Price</div>
                                            </div>
                                            @foreach (var item in Cart.Dishes)
                                            {
                                                <div class="dish-cart-preview">
                                                    <div>@item.Name</div>
                                                    <div class="dish-cart-preview-price">$@(Math.Round(item.Price,2))</div>
                                                </div>
                                            }

                                            @if (IsDeliveryChoosed)
                                            {
                                                <div class="dish-cart-preview">
                                                    <div>Delivery</div>
                                                    <div class="dish-cart-preview-price">$9.99</div>
                                                </div>
                                            }
                                        </div>
                                        <hr class="delivery-division" />
                                        <div class="dish-cart-preview dish-cart-preview-title">
                                            <div>Total</div>
                                            <div class="dish-cart-preview-price dish-cart-preview-price-total">$@(Math.Round(@Cart.GetPrice() + (@IsDeliveryChoosed ? 9.99 : 0), 2))</div>
                                        </div>
                                    </div>
                                    <div style="justify-content:space-between; display: flex; flex-direction: column; column-gap: 10px">
                                        <div style="margin-bottom: 12px;">
                                            <NavLink href="/">
                                            <button class="proceed-button">Proceed to checkout</button>
                                            </NavLink>
                                        </div>

                                        <div>
                                            <NavLink href="/">
                                                <button class="proceed-button proceed-button-to-index">Continue shopping</button>
                                            </NavLink>
                                        </div>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <span class="delivery-description">Add your dishes to buy firstly.</span>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code
{
    bool IsDeliveryChoosed { get; set; } = false;

    int Id = 0;
    private void OnRemove(Dish dish)
    {
        Cart.RemoveItem(dish);
    }

    private void PickDelivery(string Way)
    {
        IsDeliveryChoosed = Way == "Delivery";
    }

    private void ClickCheck()
    {
        //IsDeliveryChoosed = !IsDeliveryChoosed;
    }
}
