@page "/chat"
@using DishesStore.Additional
@using DishesStore.Additional.ToolTip
@using DishesStore.Data
@using DishesStore.Db.Context
@using DishesStore.Db.Model

@inject NavigationManager NavigationManager
@inject Blazored.LocalStorage.ILocalStorageService oLocalStore;

<PageTitle>Chat</PageTitle>

<div class="stretched">
    <div class="conversation-container">
        <div class="conversation-section">
            <div class="conversation-holder">
                @{
                    string lasttime = string.Empty;
                    @foreach (var item in @DbService.Messages)
                    {
                        @if (@item.Time.ToString("HH:mm") != lasttime)
                        {
                            <div class="conversation-separate-time">
                                @item.Time.ToString("HH:mm")
                            </div>
                        }
                        lasttime = @item.Time.ToString("HH:mm");
                        <div>
                            <div>
                                <div></div>
                                <Tooltip Text="@item.GetTime()"><div class="conversation-message-username">@item.UserName says:</div></Tooltip>
                            </div>
                            <div style="float: left;">
                                <div class="conversation-message-body">@item.Body</div>
                            </div>
                        </div>
                    }
                }
            </div>
            <div style="display: flex; width: 100%; justify-content: space-between">
                <div style="width: 93%;">
                    @*<textarea class="conversation-input-message" rows="@Rows"
                        @bind-value="MessageBody"
                        @onkeydown="@SubmitMessage"
                        @bind-value:event="oninput"
                        maxlength="160" />
                        <textarea class="conversation-input-message" rows="@Rows"
                        spellcheck="false"
                        @oninput="OnInputHandle"
                        @onkeydown="@SubmitMessage"
                        maxlength="160">@MessageBody</textarea>*@
                    <textarea class="conversation-input-message" rows="@Rows"
                              @bind-value:event="oninput"
                              @bind-value="MessageBody"
                              @onkeydown="@SubmitMessage"
                              maxlength="160" />
                    @*<textarea class="conversation-input-message" rows="@Rows"
                        @bind-value="MessageBody"
                        @onkeypress="SubmitMessage"
                        maxlength="160" />*@
                    @*<textarea type="text" class="conversation-input-message" placeholder="Express your feelings with other people." />*@
                </div>
                <div>
                    <button class="conversation-submit-button" @onclick="ClickSubmit">➜</button>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    int Rows = 2;
    string LastMessageBody = string.Empty;

    string _MessageBody { get; set; } = string.Empty;
    string MessageBody
    {
        get => _MessageBody;
        set
        {
            _MessageBody = value;
            CalcRows();
            StateHasChanged();
        }
    }

    private void CalcRows()
    {
        Rows = Math.Max(MessageBody.Split('\n').Length, 2);
    }

    private void ClickSubmit()
    {
        if (MessageBody.Trim() != string.Empty && !MessageBody.Contains("⠀"))
        {
            DbService.AddNewMessage(UserName == null ? "Anonymous" : UserName, MessageBody.ToString());
            MessageBody = "";
        }
    }

    private string UserName = string.Empty;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var UserSession = await oLocalStore.GetItemAsync<string>("UserSession");
            var UserLogin = await oLocalStore.GetItemAsync<string>("UserName");

            UserName = UserLogin;
        }
    }

    private void SubmitMessage(KeyboardEventArgs e)
    {
        if (e.Code == "Enter")
        {
            CalcRows();
            if (MessageBody.Trim() != string.Empty)
            {
                LastMessageBody = MessageBody;
                StateHasChanged();
            }
        }
    }
}