@page "/"
@using DishesStore.Additional
@using DishesStore.Data
@using DishesStore.Db.Model

@inject IToastService toastService
@inject IJSRuntime JSRuntime;

<link href="_content/Blazored.Toast/blazored-toast.css" rel="stylesheet" />

<PageTitle>Catalogue</PageTitle>

<div class="@blurclass">
    <div class="site-holder">
        <div class="main-container">
            <div>
                <h1 class="main-title">Dishes</h1>
            </div>

            <div class="filters-container">
                <div class="search-field">
                    <span class="search-label">Find by name</span>
                    <input class="input-field" maxlength="30" placeholder="Filters" @bind-value="searchQuery" @bind-value:event="oninput" />
                </div>
                <div class="categories-field">
                    <div class="categories">
                        <div class="">
                            <ul class="store-categories">
                                @{
                                    <li class="store-categories-element">
                                        <input class="store-categories-element-input" type='radio' value='0' name='radio' id='radio0' @onclick="@((args)=>ChangeCategory(null))" checked />
                                        <label class="category" for='radio0'>All</label>
                                    </li>
                                    int id = 1;
                                    @foreach (var item in @categories)
                                    {
                                        <li class="store-categories-element">
                                            <input class="store-categories-element-input" type='radio' value='@id' name='radio' id='radio@(id)' @onclick="@((args)=>ChangeCategory(item))" />
                                            <label class="category" for='radio@(id)'>@item.Name</label>
                                        </li>

                                        id++;
                                    }
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="stretched">
        <div class="assortment-container">
            @if (@dishes.Count == 0 || (@searchQuery != string.Empty && @dishes.Where(x => x.Name.ToLower().Contains(searchQuery.ToLower())).ToList().Count == 0) || (CurrentCategory.Name != "All" && @dishes.Where(x => x.Category.Name == CurrentCategory.Name).ToList().Count == 0))
            {
                <div class="assortment-container-stretched">Sorry! Nothing has been found by your query!</div>
            }
            else
            {
                @foreach (var item in CurrentCategory.Name == "All" ?
               (searchQuery == string.Empty ? @dishes : @dishes.Where(x => x.Name.ToLower().Contains(searchQuery.ToLower()))).ToList() :
               (searchQuery == string.Empty ? @dishes.Where(x => x.Category.Name == CurrentCategory.Name).ToList() :
               @dishes.Where(x => x.Name.ToLower().Contains(searchQuery.ToLower()))).ToList().Where(x => x.Category.Name == CurrentCategory.Name).ToList())
                {
                    <element @onclick="((args)=>myScript(item))" class="card">
                        <div>
                            <img class="card-img" src="https://mercatopizzakurier.ch/wp-content/uploads/2019/10/1459955-free-png-pepperoni-pizza-png-images-transparent-free-png-images-pizza-850_834.png">
                        </div>
                        <div>
                            <div class="card-title">@item.Name</div>
                            <div class="card-calorie">Calorieness</div>
                            <div class="values-container">
                                <div class="checkbox-value checkbox-active">250 kcal</div>
                                <div class="checkbox-value">400 kcal</div>
                                <div class="checkbox-value">600 kcal</div>
                            </div>
                            <div class="purchase-segment">
                                <div class="card-price">$@item.Price</div>
                                @*<button id="@item.Id" @onclick="myScript1" @onclick:stopPropagation="true" @onclick:preventDefault="true"><svg class="purchase-button" id="PurchaseIcon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M24 3l-.743 2h-1.929l-3.474 12h-13.239l-4.615-11h16.812l-.564 2h-13.24l2.937 7h10.428l3.432-12h4.195zm-15.5 15c-.828 0-1.5.672-1.5 1.5 0 .829.672 1.5 1.5 1.5s1.5-.671 1.5-1.5c0-.828-.672-1.5-1.5-1.5zm6.9-7-1.9 7c-.828 0-1.5.671-1.5 1.5s.672 1.5 1.5 1.5 1.5-.671 1.5-1.5c0-.828-.672-1.5-1.5-1.5z" /></svg></button>*@
                                <button @onclick="@((args)=>FastPurchase(@item))" @onclick:stopPropagation="true" @onclick:preventDefault="true"><svg class="purchase-button" id="PurchaseIcon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M24 3l-.743 2h-1.929l-3.474 12h-13.239l-4.615-11h16.812l-.564 2h-13.24l2.937 7h10.428l3.432-12h4.195zm-15.5 15c-.828 0-1.5.672-1.5 1.5 0 .829.672 1.5 1.5 1.5s1.5-.671 1.5-1.5c0-.828-.672-1.5-1.5-1.5zm6.9-7-1.9 7c-.828 0-1.5.671-1.5 1.5s.672 1.5 1.5 1.5 1.5-.671 1.5-1.5c0-.828-.672-1.5-1.5-1.5z" /></svg></button>
                            </div>
                        </div>
                    </element>
                }
            }
        </div>
    </div>
</div>

<Confirmation @ref="confirmation" OnPurchase="OnPurchase">
    <div>
        <div class="item-display-container">
            <div class="img-display-holder">
                <img class="img-popup" src="https://mercatopizzakurier.ch/wp-content/uploads/2019/10/1459955-free-png-pepperoni-pizza-png-images-transparent-free-png-images-pizza-850_834.png" />
            </div>

            <div class="additional-display-holder">
                <div class="additional-section">
                    <div class="display-item-values-container">
                        <div class="display-item-checkbox-value display-item-checkbox-active">250 kcal</div>
                        <div class="display-item-checkbox-value">400 kcal</div>
                        <div class="display-item-checkbox-value">600 kcal</div>
                    </div>
                    <div>
                        <button class="cross-btn" @onclick="OnPurchase">&#9932;</button>
                    </div>
                </div>
                <div class="display-item-card-title">@DishOnScreen.dish.Name</div>
                <div class="display-item-card-description">@DishOnScreen.dish.Description description dish description dish description dish description dish description dish description</div>

                <div>
                    <div>
                        proteins carbohydrates fats.
                    </div>

                    <div>
                        <div class="display-item-lower-container">
                            <div>
                                <div class="amount-label">
                                    Amount
                                </div>
                                <div style="display:flex">
                                    <div class="input-modal">
                                        <span>@DishOnScreen.count</span>
                                    </div>
                                    <div class="btns-container">
                                        <div>
                                            <button class="modal-button-count btn-green" @onclick="CountIncrease">+</button>
                                        </div>
                                        <div>
                                            <button class="modal-button-count btn-red" @onclick="CountDecrease">-</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="modal-section">
                                    <div class="modal-item-price-label">
                                        Price
                                    </div>
                                    <div class="modal-item-price">
                                        @DishOnScreen.dish.Price usd.
                                    </div>
                                    <div class="modal-item-totalprice">
                                        Total: <span style="font-family: 'Circe-B'">@(DishOnScreen.dish.Price * DishOnScreen.count) usd.</span>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-section modal-section-last">
                                <div>
                                    <button @onclick="OnPurchase" type="button" class="btn btn-purchase">Purchase</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</Confirmation>

@code {
    private string searchQuery = "";
    private string blurclass = "";

    private DishToOrder DishOnScreen = new DishToOrder();

    private Category CurrentCategory = new Category() { Name = "All" };

    private List<Dish> dishes = new List<Dish>();
    private List<Category> categories = new List<Category>();

    private ToastParameters _toastParameters;

    private Confirmation confirmation;

    private void FastPurchase(Dish dish)
    {
        _toastParameters = new ToastParameters();
        if (Cart.CheckAvailability())
        {
            _toastParameters.Add(nameof(Toast.Title), "Item has added to your Cart");
            _toastParameters.Add(nameof(Toast.PizzaName), dish.Name);
            _toastParameters.Add(nameof(Toast.PizzaCount), 1);
            _toastParameters.Add(nameof(Toast.Description), "Added to your cart");
            toastService.ShowToast<Toast>(_toastParameters, new ToastInstanceSettings(5, false));
        }
        else
        {
            _toastParameters.Add(nameof(ToastError.Title), "No space left in your Cart.");
            _toastParameters.Add(nameof(ToastError.Description), "Remove some dishes and try again!");
            toastService.ShowToast<ToastError>(_toastParameters, new ToastInstanceSettings(5, false));
        }

        Cart.AddItem(dish, 1);

    }

    private void myScript(Dish dish)
    {
        DishOnScreen.dish = dish;
        DishOnScreen.count = 1;
        confirmation.Show();
        blurclass = "site-blur";
    }

    private void CountIncrease() => DishOnScreen.count += (DishOnScreen.count == 10 ? 0 : 1);
    private void CountDecrease() => DishOnScreen.count -= (DishOnScreen.count == 1 ? 0 : 1);

    private void OnPurchase()
    {
        confirmation.Hide();

        _toastParameters = new ToastParameters();
        if (Cart.CheckAvailability())
        {
            _toastParameters.Add(nameof(Toast.Title), "Item has added to your Cart");
            _toastParameters.Add(nameof(Toast.PizzaName), DishOnScreen.dish.Name);
            _toastParameters.Add(nameof(Toast.PizzaCount), DishOnScreen.count);
            _toastParameters.Add(nameof(Toast.Description), "Added to your cart");
            toastService.ShowToast<Toast>(_toastParameters, new ToastInstanceSettings(5, false));
        }
        else
        {
            _toastParameters.Add(nameof(ToastError.Title), "No space left in your Cart.");
            _toastParameters.Add(nameof(ToastError.Description), "Remove some dishes and try again!");
            toastService.ShowToast<ToastError>(_toastParameters, new ToastInstanceSettings(5, false));
        }

        Cart.AddItem(DishOnScreen.dish, DishOnScreen.count);

        blurclass = "";
    }

    private void ChangeCategory(Category category) => CurrentCategory = category == null ? new Category() { Name = "All" } : category;

    protected override void OnInitialized()
    {
        categories = new List<Category>() {
            new Category() { Name = "Vegan" },
            new Category() { Name = "Vegetables" },
            new Category() { Name = "Meat" },
            new Category() { Name = "Low Carb" },
            new Category() { Name = "Snack" },
            new Category() { Name = "For Kids" }
        };
        for (int i = 0; i < 20; i++)
        {
            dishes.Add(new Dish()
                {
                    Id = i,
                    Name = $"Pizza {i}",
                    Description = $"Description {i}",
                    Price = i,
                    IsAvailable = true,
                    //Category = new Category() { Name = "Vegan" }
                    Category = categories.ElementAt(new Random().Next(0, categories.Count))
                });
        }
        base.OnInitialized();
    }
}