
<form action="/admin/editproduct/{{productId}}" method="POST">

    <div class="auth-stretched">
        <div class="auth-container">
            <div class="auth-section" style="width: 480px">
                <div class="auth-holder" style="padding: 0 40px 40px 40px">
                    <h2 style="padding-top: 40px">Product Edit</h2>
                    <div class="input-field" style="margin: auto; padding-top: 20px; padding-right: 40px">
                        <div>
                            <input style="width: 400px; padding: 12px; border: 1px solid #ccc; border-radius: 4px; box-sizing: border-box; resize: vertical;" type="text" name="Title" placeholder="Product title" value="{{product.Title}}" required>
                        </div>
                        <div>
                            <input style="width: 400px; padding: 12px; border: 1px solid #ccc; border-radius: 4px; box-sizing: border-box; resize: vertical;" type="number" min="1" max="5000" value="{{product.Price}}" name="Price"
                                placeholder="Product price" required>
                        </div>
                        <div>
                            <input style="width: 400px; padding: 12px; border: 1px solid #ccc; border-radius: 4px; box-sizing: border-box; resize: vertical;" type="text" name="ImageUrl" placeholder="Product image" value="{{product.ImageUrl}}"required>
                        </div>
                        <div>
                            <input style="width: 400px; padding: 12px; border: 1px solid #ccc; border-radius: 4px; box-sizing: border-box; resize: vertical;" type="text" name="Description" placeholder="Product description" mul value="{{product.Description}}">
                        </div>
                        <div>
                            <input style="width: 400px; padding: 12px; border: 1px solid #ccc; border-radius: 4px; box-sizing: border-box; resize: vertical;" type="text" name="Type" placeholder="Product type" value="{{product.Type}}"required>
                        </div>
                        <div>
                            <input style="width: 400px; padding: 12px; border: 1px solid #ccc; border-radius: 4px; box-sizing: border-box; resize: vertical;" type="text" name="Genetics" placeholder="Product genetics" value="{{product.Genetics}}"required>
                        </div>
                        <div style="margin-top: 20px">
                            <input type="checkbox" name="IsHit" value="{{product.IsHit}}">
                            <span>Is Product Hit?</span>
                        </div>
                        <div>
                            <input type="checkbox" name="IsInStock" value="{{product.IsInStock}}">
                            <span>Is Product in Stock?</span>
                        </div>

                        <button type="submit" class="btn" style="margin-top: 20px">Update Product</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


</form>